:root {
  height: 100%;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: large;

  color-scheme: light dark;

  --primary-color: #3E065F;
  --secondary-color: #700B98;
  --tertiary-color: #8E05C2;
  --primary-bg-color: #111111;
  --secondary-bg-color: #222222;
  --tertiary-bg-color: #282828;
  --text-color: #a1a1a1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--text-color);
  background-color: var(--secondary-bg-color);
}

body {
  margin: 0;
  height: 100%;

  background-color: var(--secondary-bg-color);
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

.main-container {
  width: calc(100% - 2rem);
  max-width: 1280px;
  box-sizing: border-box;
  justify-self: center;
  padding: 1rem;
  margin: 0 1rem;

  background-color: var(--tertiary-bg-color);
}

/* @media (max-width: 768px) {
  .main-container {
    width: 100%;
  }
} */