:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --primary-color: #3E065F;
  --secondary-color: #700B97;
  --tertiary-color: #8E05C2;
  --primary-bg-color: #111111;
  --secondary-bg-color: #222222;
  --tertiary-bg-color: #282828;
  --text-color: #a1a1a1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--text-color);
  background-color: var(--secondary-bg-color);
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: var(--secondary-bg-color);
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

.main-container {
  max-width: 1280px;
  background-color: var(--tertiary-bg-color);
  justify-self: center;
  padding: 1em;
}