:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  
  --primary-color: #3E065F;
  --secondary-color: #700B97;
  --tertiary-color: #8E05C2;
  --primary-bg-color: #111111;
  --secondary-bg-color: #202020;
  --tertiary-bg-color: #282828;
  --text-color: #a1a1a1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root * {
  color: var(--text-color);
  background-color: var(--tertiary-bg-color);
}