footer {
    background-color: var(--primary-bg-color);
    bottom: 0;
}

footer ul {
    list-style-type: none;
    padding: 1rem;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

footer a {
    background-color: transparent;
    padding: .5rem;
    border: 2px transparent solid;
    border-radius: 1rem;
    transition: 0.3s;
    cursor: pointer;
    color: var(--text-color);
}

footer a:hover {
    color: var(--tertiary-color);
    background-color: var(--tertiary-bg-color);
    border-color: var(--primary-color);

    scale: 1.2;
}

footer a:hover svg {
    fill: var(--tertiary-color);
}


footer svg {
    display: block;
    height: 2rem;
    fill: var(--tertiary-bg-color);
    transition: 0.2s;
}

footer a {
    display: block;
}