footer {
    background-color: var(--primary-bg-color);
    position: sticky;
    bottom: 0;
}

footer ul {
    list-style-type: none;
    padding: 1rem;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1rem;
}

footer ul li {
    background-color: var(--secondary-bg-color);
    padding: .5rem 1rem;
    border: 2px transparent solid;
    border-radius: 1rem;
    transition: 0.3s;
    cursor: pointer;
}

footer ul li:hover {
    color: var(--tertiary-color);
    background-color: var(--tertiary-bg-color);
    border-color: var(--primary-color);
}