.game-card {
    grid-auto-columns: min-content min-content 1fr;
    display: grid;
    border-radius: .5rem;
    /* margin: -1rem; */
    padding: 1rem;
    gap: 15px;
    align-items: end;
    /* justify-items: center; */
    background-color: var(--secondary-bg-color);

    transition: 0.2s;

    container-type: inline-size;
    width: 100%;
    max-width: 552px;
}

.game-card:hover {
    scale: 1.05;
}

.game-card>h2 {
    display: none;
    margin: 0;
}

.itch-embed {
    display: flex;
    width: 552px;
    min-width: 208px;
    height: 171px;
    grid-column: span 3;
}

.google-play-button {
    height: 60px;
    display: block
}

@container (max-width: 552px) {
    .itch-embed {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .game-card>h2 {
        display: block;
    }

    .game-card {
        grid-template-columns: min-content;
        max-width: 208px;
    }

    .itch-embed {
        grid-column: span 1;
    }
}