ul.navbar {
    list-style-type: none;
    background-color: var(--primary-bg-color);
    padding: 1rem;

    justify-content: start;
    gap: 1rem;
}

ul.navbar li {
    background-color: var(--secondary-bg-color);
    padding: .5rem 1rem;
    border: 2px transparent solid;
    border-radius: 1rem;
    transition: 0.3s;
}

ul.navbar li:hover {
    color: var(--tertiary-color);
    background-color: var(--tertiary-bg-color);
    border-color: var(--primary-color);
}

ul.navbar #home {
    
}