ul.navbar {
    list-style-type: none;
    background-color: var(--primary-bg-color);
    padding: 1rem;
    margin: 0;

    position: sticky;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

ul.navbar li {
    background-color: var(--secondary-bg-color);
    padding: .5rem 1rem;
    border: 2px transparent solid;
    border-radius: .5rem;
    transition: 0.2s;
    cursor: pointer;
}

ul.navbar li:hover {
    color: var(--tertiary-color);
    background-color: var(--tertiary-bg-color);
    border-color: var(--primary-color);
    scale: 1.2;
}

ul.navbar #home {
    padding: 0;
    background-color: transparent;
    border: none;
}